- provide(:title, t('.title'))
#content.coupons-box
  = render "shared/dashboard"
  .mainbox.mine
    = render "subbar"
    = form_for @user do |f|
      .field-group
        = f.label :name, t('.name')
        = f.text_field :name, :class=>"f-text"
      .field-group
        = f.label :email, t('.email')
        = f.text_field :email, :class=>"f-text"
      .field-group
        = f.label :mobile, t('.mobile')
        = f.text_field :mobile, :class=>"f-text"
      .field-group
        = f.label :password, t('.password')
        = f.password_field :password, :class=>"f-text"
      .field-group
        = f.label :password_confirmation, t('.password_confirm')
        = f.password_field :password_confirmation, :class=>"f-text"
      .field-group
        = f.submit t('.update_button'), :class=>"form-button"
#sidebar

