- provide(:title, t('.title'))
= render "error_messages"
#content
  .mainbox
    %h2= t('.title')
    = form_for @user do |f|
      .field-group
        = f.label :name, t('.name')
        = f.text_field :name, :class=>"f-text"
      .field-group
        = f.label :password, t('.password')
        = f.password_field :password, :class=>"f-text"
      .field-group
        = f.label :password_confirmation, t('.password_confirm')
        = f.password_field :password_confirmation, :class=>"f-text"
      .field-group
        = f.label :email, t('.email')
        = f.text_field :email, :class=>"f-text"
      .field-group
        = f.label :captcha, t('.captcha')
        = show_simple_captcha(:code_type=>"numeric")
      .field-group
        = f.submit t('.signup_button'), :class=>"form-button"

