- provide(:title, t('.title'))
#content.coupons-box
  = render "shared/dashboard"
  .mainbox.mine
    = render "subbar"
    %ul
      %li.field-group
        %label
        = t('.user_number', :id=>@user.id)
      %li.field-group
        %label= t('.name')
        %strong= @user.name
      %li.field-group
        %label= t('.email')
        = @user.email
      %li.field-group
        %label= t('.mobile')
        = @user.mobile ? @user.mobile : t('.no_mobile')
      %li.field-group
        %label= t('.create_time')
        = @user.created_at.strftime("%Y年%m月%d日")

#sidebar

