- provide(:title, "个人信息")
#content.coupons-box
  = render "shared/dashboard"
  .mainbox.mine
    = render "subbar"
    %ul
      %li.field-group
        %label
        = "第 #{@user.id} 位会员"
      %li.field-group
        %label 用户名:
        %strong= @user.name
      %li.field-group
        %label 邮箱:
        = @user.email
      %li.field-group
        %label 手机:
        = @user.mobile ? @user.mobile : "未设置"
      %li.field-group
        %label 注册时间:
        = @user.created_at.strftime("%Y年%m月%d日")

#sidebar

