%h2
  - case action_name 
  - when "index"
    全部优惠券
%uj.filter
  %li{:class => (action_name == "index" ? "current" : nil)}
    = link_to "全部", coupons_path
  %li{:class => (action_name == "filter" ? "current" : nil)}
    = link_to "未使用", "#"
  %li{:class => (action_name == "filter" ? "current" : nil)}
    = link_to "即将到期", "#"
  %li{:class => (action_name == "filter" ? "current" : nil)}
    = link_to "已使用", "#"
  %li{:class => (action_name == "filter" ? "current" : nil)}
    = link_to "已过期", "#"
