%h2
  - case action_name 
  - when "index"
    = t('redact.products.index.title')
  - when "new"
    = t('redact.products.new.title')
  - when "create"
    = t('redact.products.new.title')
  - when "edit"
    = t('redact.products.edit.title')
  - when "update"
    = t('redact.products.edit.title')
%uj.filter
  %li{:class => (action_name == "index" ? "current" : nil)}
    = link_to t('.index_button'), redact_products_path
  %li{:class => ((action_name == "new" or action_name == "create") ? "current" : nil)}
    = link_to t('.new_button'), new_redact_product_path

