<script>
    // 解决baidu地图有时候没有响应的问题，加载DOM完成后再加载地图
    // jquery风格的不好使，不知道为什么？只能使用javascript原生的
    //$(function(){
    window.onload = function(){
        var map = new BMap.Map("couponmap");
        var point = new BMap.Point(<%= compute_map_center_x(@products) %>, <%= compute_map_center_y(@products) %>);
        map.centerAndZoom(point,14);
        // 禁止鼠标滚动，用户体验更好
        //map.enableScrollWheelZoom();
        map.addControl(new BMap.NavigationControl());
        //map.addControl(new BMap.NavigationControl({type: BMAP_NAVIGATION_CONTROL_ZOOM}));

        function addMarkerContent(point, content){
            var myIcon = new BMap.Icon("/assets/map_mark.png", new BMap.Size(11,18));
            var marker = new BMap.Marker(point, {icon: myIcon});
            map.addOverlay(marker);
            var infoWindow = new BMap.InfoWindow(content);
            marker.addEventListener("click", function(){this.openInfoWindow(infoWindow);});
        }

        <% @products.each do |product| %>
            var point = new BMap.Point(<%= product.pos_x %>, <%= product.pos_y %>);
            <% discount_string = "#{product.discount_part1} <strong> #{product.discount_part2} </strong> #{product.discount_part3} <strong> #{product.discount_part4} </strong> #{product.discount_part5}" %>
            var content = <%= '"'.html_safe %> \
                <%= "<div style='color:#666;line-height:20px;'>".html_safe %> \
                <%= "<h3 style='font-size:16px;'>#{product.shop_name}</h3>".html_safe %> \
                <%= "结束时间：#{get_format_time(product.end_at)}<br/>".html_safe %> \
                <%= "优惠方式：#{discount_string}<br/>".html_safe %> \
                <%= "地址：#{product.address}<br/>".html_safe %> \
                <%= "<a target='_blank' href='#{product_path(product)}'>详情 »</a>".html_safe %> \
                <%= '</div>"'.html_safe %>;
            addMarkerContent(point, content);
        <% end %>
    };
    //});
</script>
