<script>
    function showCouponMap(){
        var map = new BMap.Map("couponmap");

        <% @products.each do |product| %>
            var marker2 = new BMap.Marker(new BMap.Point(<%= product.pos_x %>, <%= product.pos_y %>));
            map.addOverlay(marker2);
            var content = <%= '"'.html_safe %><%= "<a target='_blank' href='#{product_path(product)}'>#{product.title}</a>".html_safe %><%= '"'.html_safe %>
            var infoWindow2 = new BMap.InfoWindow(content);
            marker2.addEventListener("click", function(){this.openInfoWindow(infoWindow2);});
        <% end %>

        var point = new BMap.Point(126.510998, 43.827587);
        map.centerAndZoom(point,16);
        // 禁止鼠标滚动，用户体验更好
        //map.enableScrollWheelZoom();
    };
</script>
