- provide(:title, t('.title'))
%div#slider-show.radius-box-shadow
  %ul.bjqs
    %li
      = image_tag "slider_1.jpg", :title=>"slider 1"
    %li
      = image_tag "slider_2.jpg", :title=>"slider 2"
    %li
      = image_tag "slider_3.jpg", :title=>"slider 3"
.block-title
  %h3= t('.products_title')
= render "filters/home_filter"
= render "products/index"
.block-title
  %h3= t('.articles_title')
= render "articles/index"
#sidebar

