- provide(:title, t('.title'))
#content.pg-login
  .mainbox.radius-box-shadow
    %h2= t('.title')
    .signup-section
      = form_tag update_coupon_companies_path, :method=>"post" do |f|
        .field-group
          = label_tag :couponcode, t('.code_label')
          = text_field_tag :couponcode, nil, :class=>"f-text"
        .field-group
          = submit_tag t('.check_button'), :class=>"form-button"

