%h2
  - case action_name 
  - when "index"
    = t('admin.categories.index.title')
  - when "new"
    = t('admin.categories.new.title')
  - when "create"
    = t('admin.categories.new.title')
  - when "edit"
    = t('admin.categories.edit.title')
  - when "update"
    = t('admin.categories.edit.title')
%uj.filter
  %li{:class => (action_name == "index" ? "current" : nil)}
    = link_to t('.index_button'), admin_categories_path
  %li{:class => ((action_name == "new" or action_name == "create") ? "current" : nil)}
    = link_to t('.new_button'), new_admin_category_path

