#content.coupons-box
  #content-admin
    = render "admin/shared/dashboard"
    .mainbox.mine
      = render "subbar"
      %table#order-list.coupons-table{:cellpadding=>"0", :cellspacing=>"0", :border=>"0"}
        %tr
          %th{:width=>"auto"} 编号
          %th{:width=>"100"} 中文类名
          %th{:width=>"100"} 英文类名
          %th{:width=>"100"} 父类编号
          %th{:width=>"100"} 操作

        - @categories.each do |category|
          %tr{:class => cycle("alt", "")}
            %td= category.id
            %td= category.cn_name
            %td= category.en_name
            %td= category.parent_id
            %td
              = link_to "编辑", edit_admin_category_path(category)
              | 
              = link_to "删除", admin_category_path(category), :method => :delete, :confirm => "删除后不可恢复，确定删除？"

#sidebar

