.dashboard
  %ul
    %li{:class => dashboard_select_products(dashboard_select)}
      = link_to "商品管理", admin_products_path
      %span

    %li{:class => dashboard_select_shops(dashboard_select)}
      = link_to "商家管理", admin_products_path
      %span

    %li{:class => dashboard_select_users(dashboard_select)}
      = link_to "用户管理", admin_products_path
      %span

    %li{:class => dashboard_select_orders(dashboard_select)}
      = link_to "订单管理", admin_products_path
      %span

    %li{:class => dashboard_select_categorys(dashboard_select)}
      = link_to "分类管理", admin_products_path
      %span

    %li{:class => dashboard_select_districts(dashboard_select)}
      = link_to "区域管理", admin_products_path
      %span

