.dashboard
  %ul
    %li{:class => (controller_name == "products" ? "current" : nil)}
      = link_to "商品管理", admin_products_path
      %span

    %li{:class => (controller_name == "shops" ? "current" : nil)}
      = link_to "商家管理", admin_products_path
      %span

    %li{:class => (controller_name == "users" ? "current" : nil)}
      = link_to "用户管理", admin_products_path
      %span

    %li{:class => (controller_name == "orders" ? "current" : nil)}
      = link_to "订单管理", admin_products_path
      %span

    %li{:class => (controller_name == "categories" ? "current" : nil)}
      = link_to "分类管理", admin_products_path
      %span

    %li{:class => (controller_name == "districts" ? "current" : nil)}
      = link_to "区域管理", admin_products_path
      %span

