.dashboard
  %ul
    - if dashboard_select == "products"
      %li.current
        = link_to "商品管理", { :controller => "admin/products", :action => "index" }
        %span
    - else
      %li
        = link_to "商品管理", { :controller => "admin/products", :action => "index" }
        %span

    - if dashboard_select == "shops"
      %li.current
        = link_to "商家管理", { :controller => "admin/shops", :action => "index" }
        %span
    - else
      %li
        = link_to "商家管理", { :controller => "admin/shops", :action => "index" }
        %span

    - if dashboard_select == "users"
      %li.current
        = link_to "用户管理", { :controller => "admin/users", :action => "index" }
        %span
    - else
      %li
        = link_to "用户管理", { :controller => "admin/users", :action => "index" }
        %span

    - if dashboard_select == "orders"
      %li.current
        = link_to "订单管理", { :controller => "admin/orders", :action => "index" }
        %span
    - else
      %li
        = link_to "订单管理", { :controller => "admin/orders", :action => "index" }
        %span

    - if dashboard_select == "categorys"
      %li.current
        = link_to "分类管理", { :controller => "admin/categorys", :action => "index" }
        %span
    - else
      %li
        = link_to "分类管理", { :controller => "admin/categorys", :action => "index" }
        %span

    - if dashboard_select == "districts"
      %li.current
        = link_to "区域管理", { :controller => "admin/districts", :action => "index" }
        %span
    - else
      %li
        = link_to "区域管理", { :controller => "admin/districts", :action => "index" }
        %span

