#content.coupons-box
  #content-admin
    = render "admin/shared/dashboard"
    .mainbox.mine
      = render "subbar"
      %table#order-list.coupons-table{:cellpadding=>"0", :cellspacing=>"0", :border=>"0"}
        %tr
          %th{:width=>"auto"} 编号
          %th{:width=>"50"} 名称
          %th{:width=>"50"} 折扣
          %th{:width=>"50"} 分类
          %th{:width=>"50"} 区域
          %th{:width=>"50"} 开始
          %th{:width=>"50"} 结束
          %th{:width=>"50"} 地址
          %th{:width=>"50"} 电话
          %th{:width=>"50"} 卖出
          %th{:width=>"120"} 操作

        - @products.each do |product|
          %tr{:class => cycle("alt", "")}
            %td= product.id
            %td= product.title
            %td= product.discount
            %td= product.category.cn_name
            %td= product.district.cn_name
            %td= product.begin_at.strftime('%Y年%m月%d日')
            %td= product.end_at.strftime('%Y年%m月%d日')
            %td= product.address
            %td= product.phone
            %td= product.sale_count
            %td
              - #使用前台的products/show显示
              = link_to "显示", product_path(product), { :target => "_blank" }
              | 
              = link_to "编辑", edit_admin_product_path(product)
              | 
              = link_to "删除", admin_product_path(product), :method => :delete, :confirm => "删除后不可恢复，确定删除？"

#sidebar

