= form_for [:admin, @district] do |f|
  #admin-product-info
    %table#admin-products-table
      %tr
        %td 中文区域：
        %td= f.text_field :cn_name, :size=>40
      %tr
        %td 英文区域：
        %td= f.text_field :en_name, :size=>40
      %tr
        %td 父类编号：
        %td= f.text_field :parent_id, :size=>40
      %tr
        %td
        %td#admin-products-table-submit
          = f.submit "提交"

