= form_for [:admin, @district] do |f|
  #admin-product-info
    %table#admin-products-table
      %tr
        %td= t('.cn_name')
        %td= f.text_field :cn_name, :size=>40
      %tr
        %td= t('.en_name')
        %td= f.text_field :en_name, :size=>40
      %tr
        %td= t('.parent_id')
        %td= f.text_field :parent_id, :size=>40
      %tr
        %td
        %td#admin-products-table-submit
          = f.submit t('.submit_button')

