- provide(:title, t('.title'))
#content.coupons-box
  #content-admin
    = render "admin/shared/dashboard"
    .mainbox.mine
      = render "subbar"
      %table#order-list.coupons-table{:cellpadding=>"0", :cellspacing=>"0", :border=>"0"}
        %tr
          %th{:width=>"auto"}= t('.head_id')
          %th{:width=>"100"}= t('.head_cn_name')
          %th{:width=>"100"}= t('.head_en_name')
          %th{:width=>"100"}= t('.head_parent_id')
          %th{:width=>"100"}= t('.head_operation')

        - @districts.each do |district|
          %tr{:class => cycle("alt", "")}
            %td= district.id
            %td= district.cn_name
            %td= district.en_name
            %td= district.parent_id
            %td
              = link_to t('.edit_button'), edit_admin_district_path(district)
              | 
              = link_to t('.delete_button'), admin_district_path(district), :method => :delete, :confirm => t('.delete_confirm')

#sidebar

