#filter
  .filter-section.type
    %span.label 分类：
    %ul
      %li{:class => (controller_name == "home" ? "current" : nil)}
        = link_to "全部", "/"
      %li{:class => (action_name == "today" ? "current" : nil)}
        %a{:href => today_categories_path}
          今日新单
          %span>= "(#{@products.size})"
      - @categories.each do |category|
        %li{:class => (params[:id].to_i == category.id ? "current" : nil)}
          / 怎样能用link_to?
          /= link_to "", category_path(category)
          %a{:href => category_path(category)}
            = category.cn_name
            %span>= "(#{category.products.size})"
  .filter-section
    %span.label 区域：
    %ul
      %li.current= link_to "全部", "/"
      %li 
        %a{:href => "category/all/chaoyangqu"}
          朝阳区
          %span> (30)
      %li 
        %a{:href => "category/all/haidianqu"}
          海淀区
          %span> (30)
      %li 
        %a{:href => "category/all/xichengqu"}
          西城区
          %span> (30)

