#filter
  .filter-section.type
    %span.label 分类：
    %ul
      %li{:class => (controller_name != "categories" ? "current" : nil)}
        = link_to "全部", "/"
      %li{:class => (action_name == "today" ? "current" : nil)}
        %a{:href => today_filters_path}
          今日新单
          %span>= "(#{@products.size})"
      - @categories.each do |category|
        %li{:class => (controller_name == "categories" && params[:id].to_i == category.id ? "current" : nil)}
          / 怎样能用link_to?
          /= link_to "", category_path(category)
          %a{:href => category_filters_path(category)}
            = category.cn_name
            %span>= "(#{category.products.size})"
  .filter-section
    %span.label 区域：
    %ul
      %li{:class => (controller_name != "districts" ? "current" : nil)}
        = link_to "全部", "/"
      - @districts.each do |district|
        %li{:class => (controller_name == "districts" && params[:id].to_i == district.id ? "current" : nil)}
          %a{:href => district_filters_path(district)}
            = district.cn_name
            %span>= "(#{district.products.size})"

