#filter.radius-box-shadow
  .filter-section.type
    %span.label= t('.category')
    %ul
      %li{:class => "current"}
        = link_to t('.all'), "/filters/select/all/all/"
      /%li{:class => (action_name == "today" ? "current" : nil)}
      /  = link_to "#{t('.today')}<span>(#{today_product_count})</span>".html_safe, today_filters_path
      - @categories.each do |category|
        %li
          = link_to "#{category.cn_name}<span>(#{on_shelf_count(category.products)})</span>".html_safe, "/filters/select/#{category.id}/all/"
  .filter-section
    %span.label= t('.district')
    %ul
      %li{:class => "current"}
        = link_to t('.all'), "/filters/select/all/all/"
      - @districts.each do |district|
        %li
          = link_to "#{district.cn_name}<span>(#{on_shelf_count(district.products)})</span>".html_safe, "/filters/select/all/#{district.id}/"

