%h2
  - case action_name 
  - when "index"
    = t('admin.users.index.title')
  - when "new"
    = t('admin.users.new.title')
  - when "create"
    = t('admin.users.new.title')
  - when "edit"
    = t('admin.users.edit.title')
  - when "update"
    = t('admin.users.edit.title')
%uj.filter
  %li{:class => (action_name == "index" ? "current" : nil)}
    = link_to t('.index_button'), admin_users_path
  %li{:class => ((action_name == "new" or action_name == "create") ? "current" : nil)}
    = link_to t('.new_button'), new_admin_user_path

