- provide(:title, t('.title'))
#content.coupons-box
  #content-admin
    = render "admin/shared/dashboard"
    .mainbox.mine
      = render "subbar"
      %table#order-list.coupons-table{:cellpadding=>"0", :cellspacing=>"0", :border=>"0"}
        %tr
          %th{:width=>"auto"}= t('.head_id')
          %th{:width=>"100"}= t('.head_name')
          %th{:width=>"100"}= t('.head_email')
          %th{:width=>"100"}= t('.head_mobile')
          %th{:width=>"100"}= t('.head_operation')

        - @users.each do |user|
          %tr{:class => cycle("alt", "")}
            %td= user.id
            %td= user.name
            %td= user.email
            %td= user.mobile
            %td
              = link_to t('.edit_button'), edit_admin_user_path(user)
              | 
              = link_to t('.delete_button'), admin_user_path(user), :method => :delete, :confirm => t('.delete_confirm')

#sidebar

