%label.floatLeft= t('.discount')
.floatLeft.fRSide
  %span.discountWord= product.discount_part1
  %span.discountNum= product.discount_part2
  %span.discountWord= product.discount_part3
  %span.discountNum= product.discount_part4
  %span.discountWord= product.discount_part5

