#filter
  #deal-intro.cf
    .clearfix
      - @products.each do |product|
        .couponContentWrap
          .couponInfoWrap.clearfix
            .couponInfoLSide.floatLeft
              %ul.infoImgSilde
                %li
                  = link_to image_tag( product.image_url(:thumb), :width => "195", :height => "146", :title => "点击查看详情", :alt => product.title ), product_path(product), { :target => "_blank" }
            .couponInfoRSide.floatLeft
              .globalTitle.title
                = link_to product.title, product_path(product), { :target => "_blank" }
              %ul
                %li.listCol
                  %label.floatLeft 打折时间：
                  .floatLeft.fRSide
                    %span= "#{product.begin_at.strftime('%Y年%m月%d日')}至#{product.end_at.strftime('%Y年%m月%d日')}"
                %li.listCol.clearfix
                  %label.floatLeft 折扣范围：
                  .floatLeft.fRSide
                    %span.couponNum= product.discount
                    折
                %li.listCol.clearfix
                  = link_to "去看看", product_path(product), { :target => "_blank", :hidefocus=>"true", :class=>"button", :rel=>"nofollow" }

