#bdw
  #bd.cf
    #filter
    #content.normal-deal-list.cf
      - count = 0
      - @products.each do |product|
        - count += 1
        - if count % 2 == 1
          .item
            .cover
              = link_to image_tag( product.image_path_url(:thumb), :width => "312", :height => "189", :title => "点击查看详情", :alt => product.cover_name ), product_path(product), { :target => "_blank" }
            %h3= link_to "【#{product.district_name}】#{product.cover_name}", product_path(product), { :target => "_blank" }
            %p.detail
              = link_to "去看看", product_path(product),
                        { :target => "_blank",
                          :hidefocus=>"true",
                          :class=>"buy",
                          :rel=>"nofollow" }
              %em.price.num= "¥#{integer_of_value product.sale_price}"
              %span.bypast
                价值 
                %span.num
                  %span= "¥#{integer_of_value product.original_price}"
            %p.total
              %strong.num= product.sale_count
              人已购买
        - else
          .item.odd
            -# 代码重复
            .cover
              = link_to image_tag( product.image_path_url(:thumb), :width => "312", :height => "189", :title => "点击查看详情", :alt => product.cover_name ), product_path(product), { :target => "_blank" }
            %h3= link_to "【#{product.district_name}】#{product.cover_name}", product_path(product), { :target => "_blank" }
            %p.detail
              = link_to "去看看", product_path(product),
                        { :target => "_blank",
                          :hidefocus=>"true",
                          :class=>"buy",
                          :rel=>"nofollow" }
              %em.price.num= "¥#{integer_of_value product.sale_price}"
              %span.bypast
                价值 
                %span.num
                  %span= "¥#{product.original_price}"
            %p.total
              %strong.num= product.sale_count
              人已购买
    #sidebar
