- provide(:title, @product.title)
.bread-nav
  = link_to t('.today'), root_path
  %span> »
  = link_to "#{@product.district.cn_name}", district_filter_path(@product.district)
  %span> »
  = link_to "#{@product.category.cn_name}", category_filter_path(@product.category)
  %span> »
  = @product.title

#content
  #deal-intro.cf.radius-box-shadow
    .clearfix.floatLeft
      .discountContentWrap
        .globalTitle
          %h1.title= @product.title
        .discountInfoWrap.clearfix
          .discountInfoLSide.floatLeft
            %ul.infoImgSilde
              %li
                = image_tag( @product.image_url(:normal), :width => "260", :height => "195", :title => @product.title, :alt => @product.title )
          .discountInfoRSide.floatLeft
            %ul
              %li.listCol
                %label.floatLeft= t('.time')
                .floatLeft.fRSide
                  %span= "#{get_format_time(@product.begin_at)}至#{get_format_time(@product.end_at)}"
              %li.listCol.clearfix
                = render "discount_type", :product => @product
              %li.listCol.clearfix
                %label.floatLeft= t('.address').html_safe
                .floatLeft.fRSide
                  %span= @product.address
              %li.listCol.clearfix
                %label.floatLeft= t('.phone').html_safe
                .floatLeft.fRSide
                  %span= @product.phone
              %li.listCol.clearfix
                %label.floatLeft= t('.impression')
                .floatLeft.fRSide
                  %span= t('.noimpression')
              %li.listCol.clearfix
                .button
                  = link_to t('.send_button'), "#"
  #deal-intro.cf.radius-box-shadow
    .clearfix.floatLeft
      .discountContentWrap
        .discountDetailsInfo
          %h2.title= t('.detail')
          :css
            .standard-table { background-color:#c0dcf3; width:100%; border:0; border-collapse:separate; border-spacing:1px; table-layout:fixed; margin-top:5px; }
            .standard-table .center { text-align:center; }
            .standard-table .right { text-align:right; }
            .standard-table th { padding:3px 5px; background-color:#d2e8f9; color:#333; }
            .standard-table td { padding:3px 5px; word-break:break-all; word-wrap:break-word; }
            .standard-table tr.comment { background-color:#edf6fd; color:#666; font-weight:bold; }
            .standard-table tr.normal { background-color:#fff; color:#666; }
          :css
            .standard-center { text-align:center; }
            .standard-bar { padding:3px 6px; color:#fff; border-radius:3px; font-weight:bold; }
            .standard-list-title { margin:5px 0; }
            .standard-image { display:block; margin:10px auto; }
            .standard-image-wrap { display:block; width:100%; }
          %p= @product.content.html_safe

#sidebar
  .side-single.radius-box-shadow
    = javascript_include_tag "http://api.map.baidu.com/api?v=1.3"
    #mapbox{"data-latitude"=>@product.pos_x, "data-longitude"=>@product.pos_y}

    /#maplink
    /  查看大图

  .side-single.radius-box-shadow
    = render "hot_products"

= render "send_coupon"

