<div id="bdw" class="bdw">
    <div id="bd" class="cf">
        <div class="bread-nav">
            <%= link_to "北京团购", "/" %><span>»</span><%= link_to "海淀区", "/category/all/haidianqu" %><span>»</span><%= link_to "远大路", "/category/all/yuandalu" %><span>»</span><%= link_to "美食", "/category/meishi/yuandalu" %><span>»</span><%= link_to "火锅", "/category/huoguo/yuandalu" %><span>»</span>金源福城肥牛2-3人套餐
        </div>
        <div id="content">
            <div id="deal-intro" class="cf">
                <h1 class="deal-brand"><%= "【" + @product.district_name + "】" + @product.shop_name %></h1>
                <h2 class="deal-title"><%= @product.product_name %></h2>
                <div class="main">
                    <div class="deal-buy deal-price-tag-open">
                        <strong>¥ <%= integer_of_value @product.sale_price %></strong><%= link_to "抢购", "/deal/buy/720541", {:rel=>"nofollow"} %>
                    </div>
                    <div class="deal-info">
                        <table class="deal-discount">
                            <tbody>
                                <tr>
                                    <th>价值</th>
                                    <th>折扣</th>
                                    <th>节省</th>
                                </tr>
                                <tr>
                                    <td><del><span>¥</span><%= @product.original_price %></del></td>
                                    <td><%= discount %>折</td>
                                    <td>¥<%= save_price %></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="deal-status">
                            <p class="deal-status-count"><strong><%= @product.sale_count %></strong> 人已购买</p><p class="deal-status-time-left deal-on">剩余<span><strong>3</strong>天以上</span></p>
                        </div>
                        <p>拉长测试</p>
                        <p>拉长测试</p>
                        <p>拉长测试</p>
                        <p>拉长测试</p>
                        <p>拉长测试</p>
                        <p>拉长测试</p>
                        <p>拉长测试</p>
                    </div>
                </div>
                <div class="side">
                    <div class="deal-buy-cover-img">
                        <%= image_tag @product.image_path %>
                    </div>
                </div>
            </div>
            <div id="deal-stuff">
                <div class="mainbox cf">
                    <div class="main">
                        <h2>本单详情</h2>
                        <div class="blk detail">
                            <%= @product.content %>
                            <%= markdown @product.content %>
                        </div>
                    </div>
                    <div class="side">
                    </div>
                    <div class="deal-buy-bottom">
                        <span class="price num">¥<%= integer_of_value @product.sale_price %></span><%= link_to "抢购", "/deal/buy/720541", {:rel=>"nofollow", :hidefocus=>"true"} %>
                        <ul class="cf">
                            <li>价值<br><del class="num"><span>¥</span><%= @product.original_price %></del></li>
                            <li>折扣<br><span class="num"><%= discount %>折</span></li>
                            <li>已购买<br><span class="num"><%= @product.sale_count %>人</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar">
        </div>
    </div> <!-- bd end -->
</div> <!-- bdw end -->
