<div id="bdw" class="bdw">
    <div id="bd" class="cf">
        <div class="bread-nav">
            <a href="http://bj.meituan.com/">北京团购</a><span>»</span><a href="http://bj.meituan.com/category/all/haidianqu">海淀区</a><span>»</span><a href="http://bj.meituan.com/category/all/yuandalu">远大路</a><span>»</span><a href="http://bj.meituan.com/category/meishi/yuandalu">美食</a><span>»</span><a href="http://bj.meituan.com/category/huoguo/yuandalu">火锅</a><span>»</span>金源福城肥牛2-3人套餐
        </div>
        <div id="content">
            <div id="deal-intro" class="cf">
                <h1 class="deal-brand"><%= "【" + @product.district_name + "】" + @product.shop_name %></h1>
                <h2 class="deal-title"><%= @product.product_name %></h2>
                <div class="main">
                    <div class="deal-buy deal-price-tag-open">
                        <strong>¥ <%= integer_of_value @product.sale_price %></strong><a rel="nofollow" href="http://bj.meituan.com/deal/buy/720541">抢购</a>
                    </div>
                    <div class="deal-info">
                        <table class="deal-discount">
                            <tbody>
                                <tr>
                                    <th>价值</th>
                                    <th>折扣</th>
                                    <th>节省</th>
                                </tr>
                                <tr>
                                    <td><del><span>¥</span><%= @product.original_price %></del></td>
                                    <td><%= discount %>折</td>
                                    <td>¥<%= save_price %></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="deal-status">
                            <p class="deal-status-count"><strong><%= @product.sale_count %></strong> 人已购买</p><p class="deal-status-time-left deal-on">剩余<span><strong>3</strong>天以上</span></p>
                        </div>
                        <p>拉长测试</p>
                        <p>拉长测试</p>
                        <p>拉长测试</p>
                        <p>拉长测试</p>
                        <p>拉长测试</p>
                        <p>拉长测试</p>
                        <p>拉长测试</p>
                    </div>
                </div>
                <div class="side">
                    <div class="deal-buy-cover-img">
                        <%= image_tag @product.image_path %>
                    </div>
                </div>
            </div>
            <div id="deal-stuff">
                <div class="mainbox cf">
                    <div class="main">
                        <h2>本单详情</h2>
                        <div class="blk detail">
                            <style>
                            .standard-bar { padding:3px 6px; color:#fff; border-radius:3px; font-weight:bold; }
                            </style>
                            <p class="standard-bar" style="background-color:#37adb1;">就知道你俩至少有一个被火锅俘虏了</p><p>在美团网，仅需88元即可享受最高价值252.4元的金源福城肥牛2-3人套餐，每人消费约29元哟！</p>
                            <p class="standard-bar" style="background-color:#37adb1;">火锅公开课</p>
                            <p>据江湖高人统计：在情侣吵架的理由中，因为吃火锅时选萝卜还是白菜而闹翻的比例高到令人咋舌。火锅也有色彩心理学，了解他/她的色彩，让爱情的小火锅沸腾。</p>
                            <ul class="list">
                                <li><b>红色</b><br><p>通过色彩实验，人们发现处于红色环境中，脉搏跳动速度增快，情绪容易兴奋。若是暗恋许久的女神想要红油辣锅，请放弃之前给自己设定的小清新路线，跟上女神热情的节奏，迅速变身为热血少年。此时，宜点肉类，忌点清汤。</p></li>
                                <li><b>绿色</b><br><p>狼与羊的爱情能持续多久，在于狼能够陪羊吃草吃到什么时候。在色彩心理学中，绿色是给人安全的颜色。何必因为自己对肉食的不舍，放弃与素食主义者共食一锅的亲密呢？遇上绿色偏好者，宜点青菜，忌点生猛海鲜。</p></li>
                                <li><b>黄色</b><br><p>为何生日帽是黄色的，很大一部分原因是因为黄色能活跃气氛。遇见一个找你哭诉的妹子，就带她去吃火锅吧，点上几盘土豆、腐竹，再来一扎啤酒。让火锅的热气蒸去她的泪水，让明黄的食物带给她快乐。此时，宜多倾听多安慰，忌只吃饭不说话。 </p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="side">
                    </div>
                    <div class="deal-buy-bottom">
                        <span class="price num">¥<%= integer_of_value @product.sale_price %></span><a rel="nofollow" href="http://bj.meituan.com/deal/buy/720541" hidefocus="true">抢购</a>
                        <ul class="cf">
                            <li>价值<br><del class="num"><span>¥</span><%= @product.original_price %></del></li>
                            <li>折扣<br><span class="num"><%= discount %>折</span></li>
                            <li>已购买<br><span class="num"><%= @product.sale_count %>人</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar">
        </div>
    </div> <!-- bd end -->
</div> <!-- bdw end -->
