.bread-nav
  = link_to "北京团购", "/"
  %span> »
  = link_to "海淀区", "/category/all/haidianqu"
  %span> »
  = link_to "远大路", "/category/all/yuandalu"
  %span> »
  = link_to "美食", "/category/meishi/yuandalu"
  %span> »
  = link_to "火锅", "/category/huoguo/yuandalu"
  %span> »
  金源福城肥牛2-3人套餐
#content
  #deal-intro.cf
    %h1.deal-brand= "【#{@product.district_name}】#{@product.shop_name}"
    %h2.deal-title= @product.product_name
    .main
      .deal-buy.deal-price-tag-open
        %strong= "¥ #{integer_of_value @product.sale_price}"
        = link_to "抢购", "/deal/buy/720541", {:rel=>"nofollow"}
      .deal-info
        %table.deal-discount
          %tbody
            %tr
              %th 价值
              %th 折扣
              %th 节省
            %tr
              %td
                %del
                  %span= "¥#{integer_of_value @product.original_price}"
              %td= "#{discount}折"
              %td= "¥#{integer_of_value save_price}"
        .deal-status
          %p.deal-status-count
            %strong= @product.sale_count
            人已购买
          %p.deal-status-time-left.deal-on
            剩余
            %span>
              %strong> 3
              天以上
        %p 拉长测试
        %p 拉长测试
        %p 拉长测试
        %p 拉长测试
        %p 拉长测试
        %p 拉长测试
        %p 拉长测试
    .side
      .deal-buy-cover-img
        = image_tag @product.image_path_url(:normal)
  #deal-stuff
    .mainbox.cf
      .main
        %h2 本单详情
        .blk.detail
          :css
            .standard-table { background-color:#c0dcf3; width:100%; border:0; border-collapse:separate; border-spacing:1px; table-layout:fixed; margin-top:5px; }
            .standard-table .center { text-align:center; }
            .standard-table .right { text-align:right; }
            .standard-table th { padding:3px 5px; background-color:#d2e8f9; color:#333; }
            .standard-table td { padding:3px 5px; word-break:break-all; word-wrap:break-word; }
            .standard-table tr.comment { background-color:#edf6fd; color:#666; font-weight:bold; }
            .standard-table tr.normal { background-color:#fff; color:#666; }
          :css
            .standard-center { text-align:center; }
            .standard-bar { padding:3px 6px; color:#fff; border-radius:3px; font-weight:bold; }
            .standard-list-title { margin:5px 0; }
            .standard-image { display:block; margin:10px auto; }
            .standard-image-wrap { display:block; width:100%; }
          / 应该去掉markdown
          /= @product.content
          = markdown @product.content
      .side
      .deal-buy-bottom
        %span.price.num= "¥#{integer_of_value @product.sale_price}"
        = link_to "抢购", "/deal/buy/720541", {:rel=>"nofollow", :hidefocus=>"true"}
        %ul.cf
          %li
            价值
            %br
            %del.num
              %span= "¥#{integer_of_value @product.original_price}"
          %li
            折扣
            %br
            %span.num= "#{discount}折"
          %li
            已购买
            %br
            %span.num= "#{@product.sale_count}人"
#sidebar

