- provide(:title, @product.title)
.bread-nav
  = link_to t('.today'), root_path
  %span> »
  = link_to "#{@product.district.cn_name}", district_filter_path(@product.district)
  %span> »
  = link_to "#{@product.category.cn_name}", category_filter_path(@product.category)
  %span> »
  = @product.title

#content
  #deal-intro.cf
    .clearfix.floatLeft
      .discountContentWrap
        .globalTitle
          %h1.title= @product.title
        .discountInfoWrap.clearfix
          .discountInfoLSide.floatLeft
            %ul.infoImgSilde
              %li
                = image_tag( @product.image_url(:normal), :width => "260", :height => "195", :title => @product.title, :alt => @product.title )
          .discountInfoRSide.floatLeft
            %ul
              %li.listCol
                %label.floatLeft= t('.time')
                .floatLeft.fRSide
                  %span= "#{get_format_time(@product.begin_at)}至#{get_format_time(@product.end_at)}"
              %li.listCol.clearfix
                %label.floatLeft= t('.discount')
                .floatLeft.fRSide
                  %span.discountNum= @product.discount
                  = t('.discount_word')
              %li.listCol.clearfix
                %label.floatLeft= t('.address').html_safe
                .floatLeft.fRSide
                  %span= @product.address
              %li.listCol.clearfix
                %label.floatLeft= t('.phone').html_safe
                .floatLeft.fRSide
                  %span= @product.phone
              %li.listCol.clearfix
                %label.floatLeft= t('.impression')
                .floatLeft.fRSide
                  %span= t('.noimpression')
              %li.listCol.clearfix
                = link_to image_tag( "/assets/shop_now_c.jpg", :width=>"130", :height=>"44" ), "#", :onclick=>"showModal();"
  #deal-intro.cf
    .clearfix.floatLeft
      .discountContentWrap
        .discountDetailsInfo
          %h2.title= t('.detail')
          %p= @product.content.html_safe

#sidebar
  .side-single
    #mapbox{"data-latitude"=>@product.pos_x, "data-longitude"=>@product.pos_y}
    = javascript_include_tag "http://api.map.baidu.com/api?v=1.3"
    :javascript
      showMapBox();

    #maplink
      查看大图

  .side-single
    = render "hot_products"

= render "send_coupon"

