- provide(:title, t('.login'))
#content.pg-login
  .mainbox.radius-box-shadow
    %h2= t('.login') 
    .signup-section
      = form_tag user_sessions_path do |f|
        .field-group
          = label_tag :name, t('.name')
          = text_field_tag :name, nil, :class=>"f-text"
        .field-group
          = label_tag :name, t('.password')
          = password_field_tag :password, nil, :class=>"f-text"
        .field-group.auto-login
          / 默认选择checkbox参数不生效
          = check_box_tag :remember, "yes", false, :class=>"f-check"
          = t('.auto_login')
        .field-group
          = submit_tag t('.login_button'), :class=>"form-button"
          %span#signup-span
            = t('.no_signup')
            = link_to t('.signup_button'), signup_path

