.dashboard
  %ul
    %li{:class => (controller_name == "products" ? "current" : nil)}
      = link_to t('.products'), admin_products_path
      %span

    %li{:class => (controller_name == "coupons" ? "current" : nil)}
      = link_to t('.coupons'), admin_products_path
      %span

    %li{:class => (controller_name == "users" ? "current" : nil)}
      = link_to t('.users'), admin_users_path
      %span

    %li{:class => (controller_name == "dealers" ? "current" : nil)}
      = link_to t('.dealers'), admin_dealers_path
      %span

    %li{:class => (controller_name == "categories" ? "current" : nil)}
      = link_to t('.categories'), admin_categories_path
      %span

    %li{:class => (controller_name == "districts" ? "current" : nil)}
      = link_to t('.districts'), admin_districts_path
      %span

    %li
      = link_to t('.sign_out'), destroy_super_session_path, :method => :delete
      %span

