- if flash and flash.any?
  - flash.each do |key, value|
    - if :alert == key
      .sysmsgw#sysmsg-error.radius-box-shadow
        .sysmsg
          = value
          %span.close= t('.close')
    - elsif :notice == key
      .sysmsgw#sysmsg-success.radius-box-shadow
        .sysmsg
          = value
          %span.close= t('.close')
    - else
      .sysmsgw.radius-box-shadow
        .sysmsg
          = value
          %span.close= t('.close')

