.ftbox
  %h3 用户帮助
  %ul
    %li= link_to "常见问题", root_path
    /%li= link_to "反诈骗公告", "/about/anticheat"
.ftbox
  %h3 获取更新
  %ul
    /%li= link_to "邮件订阅", "/maillist/subscribe"
    %li= link_to "新浪微博", "http://weibo.com/jilinmei", {:rel=>"nofollow", :target=>"_blank"}
    %li= link_to "腾讯微博", "http://t.qq.com/jilinmeicom", {:rel=>"nofollow", :target=>"_blank"}
.ftbox
  %h3 商务合作
  %ul
    /%li= link_to "提供优惠信息", root_path
    %li= link_to "验证优惠券", checkcoupon_path
    - if logined? and admin_user?
      %li= link_to "管理后台", admin_products_path
.ftbox
  %h3 公司信息
  %ul
    %li= link_to "关于我们", about_path
    %li= link_to "联系我们", contact_path
    /%li= link_to "我们承诺", root_path
    /%li= link_to "加入我们", "/about/job"
.ftbox.service
  %h3 客户服务
  %ul
    %li 15944279050
    %li jilinmei@gmail.com
.copyright
  %p
    ©2012 吉林美打折网 jilinmei.com
    吉ICP证100001号 吉公网安备100000000001号
%div{:style=>"display:none"}
  %script{:src=>"http://s23.cnzz.com/stat.php?id=4669675&web_id=4669675&show=pic", :language=>"JavaScript"}
  :javascript
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F264a3a29318e48928767e11630ea5660' type='text/javascript'%3E%3C/script%3E"));
%ul.cert.cf

