.ftbox
  %h3 用户帮助
  %ul
    %li= link_to "常见问题", "/help/faq"
    %li= link_to "反诈骗公告", "/about/anticheat"
.ftbox
  %h3 获取更新
  %ul
    %li= link_to "邮件订阅", "/maillist/subscribe"
    %li= link_to "新浪微博", "http://t.sina.com.cn/scige", {:rel=>"nofollow", :target=>"_blank"}
    %li= link_to "腾讯微博", "http://t.qq.com/sciget", {:rel=>"nofollow", :target=>"_blank"}
.ftbox
  %h3 商务合作
  %ul
    %li= link_to "提供优惠信息", "/feedback/seller"
    %li= link_to "市场合作", "/about#contact"
    %li= link_to "管理后台", admin_products_path
.ftbox
  %h3 公司信息
  %ul
    %li= link_to "关于我们", "/about/"
    %li= link_to "我们承诺", "/commitment/"
    %li= link_to "加入我们", "/about/job"
.ftbox.service
  %i.hotline
  %p.desc 客服电话(免长途费)
  %p.num 400-660-5500
  %p.time 周一到周日8:00-22:00
.copyright
  %p
    ©
    %span{:title=>"I:3; Q:7; S:4; C:36; F:0; T:173.32; H:e18"} 2012
    startup.com
    京ICP证100001号 京公网安备100000000001号
%div{:style=>"display:none"}
  %script{:src=>"http://s23.cnzz.com/stat.php?id=4669675&web_id=4669675&show=pic", :language=>"JavaScript"}
%ul.cert.cf

