#site-top.cf
  .site-logo
    %h1= link_to image_tag("/assets/logo.png", :width=>"154", :height=>"80", :title=>t('.logo_title'), :alt=>t('.logo_title')), root_path
  .site-slogn
    = image_tag("/assets/slogn.png", :width=>"203", :height=>"41", :title=>t('.logo_title'), :alt=>t('.logo_title'))
  /.site-info
  /  %ul
  /    %li= link_to "邮件订阅", "/subscribe", {:class=>"subscribe"}
  /    %li= link_to "加入收藏夹", "javascript:void(0);", {:class=>"fav", :id=>"favorite"}
  /    %li= link_to "邀请好友", "/referrals", {:class=>"refer", :target=>"_blank"}
  /    %li= link_to "常见问题", "/faq", {:class=>"last"}
  .search.cf.radius-box-shadow
    %form{:action=>"/s/", :name=>"searchForm", :method=>"get"}
    = form_tag search_filters_path, :method=>"post" do |f|
      = text_field_tag :keywords, nil, {:class=>"s-text", :autocomplete=>"off", :placeholder=>t('.keyword_background')}
      = submit_tag t('.search_button'), {:class=>"s-submit", :hidefocus=>"true"}
.site-nav
  .nav-wrapper.cf.radius-box-shadow
    %ul.nav
      %li= link_to "今日优惠", root_path, {:class=>"hover"}
      %li= link_to "美食", "/filters/select/1/all/"
      %li= link_to "娱乐", "/filters/select/2/all/"
      %li= link_to "电影", "/filters/select/3/all/"
      %li= link_to "生活", "/filters/select/4/all/"
      %li= link_to "酒店", "/filters/select/5/all/"
    %ul.user-info
      - if user_signed_in?
        %li.name= t('.welcome', :user_name=>current_user.name)
      %li.account
        = link_to t('.my_info'), account_path, {:class=>"my-account"}
        %i.tri
        - if user_signed_in?
          %ul.account-menu{:style=>"display:none"}
            %li= link_to "我的优惠券", coupons_path, {:class=>"first"}
            %li= link_to "未使用", unuse_coupons_path
            %li= link_to "已使用", used_coupons_path
            %li= link_to "个人信息", "#"
            %li= link_to "账户设置", edit_user_registration_path(current_user), {:class=>"last"}
      - if user_signed_in?
        %li.login= link_to t('.logout'), destroy_user_session_path, :method => :delete
      - else
        %li.login= link_to t('.login'), new_user_session_path
        %li.login.last= link_to t('.signup'), new_user_registration_path

