#site-top.cf
  .site-logo
    %h1= link_to image_tag("/assets/logo.png", :width=>"154", :height=>"80", :title=>t('.logo_title'), :alt=>t('.logo_title')), root_path
  .site-slogn
    = image_tag("/assets/slogn.png", :width=>"238", :height=>"95", :title=>t('.logo_title'), :alt=>t('.logo_title'))
  .search.cf.radius-box-shadow
    = form_tag search_filters_path, :method=>"get" do |f|
      = text_field_tag :keywords, nil, {:class=>"s-text", :autocomplete=>"off", :placeholder=>t('.keyword_background')}
      = submit_tag t('.search_button'), {:class=>"s-submit", :hidefocus=>"true"}
.site-nav
  .nav-wrapper.cf.radius-box-shadow
    %ul.nav
      %li= link_to "今日优惠", root_path, {:class=>active_channel?("home", "index") ? "hover":nil}
      %li= link_to "附近优惠", "/map", {:class=>active_channel?("home", "map") ? "hover":nil, :rel=>"nofollow"}
      %li= link_to "衣妆达人", articles_path, {:class=>active_channel?("articles", "index") ? "hover":nil}
    %ul.user-info
      - if user_signed_in?
        %li.name= t('.welcome', :user_name=>current_user.name)
      %li.account
        = link_to t('.my_info'), coupons_path, {:class=>"my-account", :rel=>"nofollow"}
        %i.tri
      - if user_signed_in?
        %li.login= link_to t('.logout'), destroy_user_session_path, {:method=>:delete, :rel=>"nofollow"}
      - else
        %li.login= link_to t('.login'), new_user_session_path, {:rel=>"nofollow"}
        %li.login.last= link_to t('.signup'), new_user_registration_path, {:rel=>"nofollow"}

