!!!
%html
  %head
    %title= "#{yield(:title)} | 吉林美打折网"
    = stylesheet_link_tag "application", :media=>"all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag

  %body#deal-default
    #doc
      #hdw
        #hd
          = render "layouts/header"

      #bdw
        #bd.cf
          = render "layouts/flash_messages"
          = yield

      #ftw
        #ft
          = render "layouts/footer"

/= debug session
/= debug params

