!!!
%html
  %head
    - if controller_name == "home" and action_name == "index"
      %title= "#{yield(:title)}"
    - else
      %title= "#{yield(:title)} | #{t('.site_title')}"
    = stylesheet_link_tag "application", :media=>"all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag
    <meta name="keywords", content="吉林市,打折,优惠,团购,美食,购物" />
    <meta name="description", content="吉林美打折优惠网 - 免费提供吉林市美食、娱乐、电影、生活、酒店、购物等打折信息、优惠信息和团购信息, 免费下载折扣券和优惠券, 吉林市最快最全最好的打折优惠团购聚合平台" />

  %body#deal-default
    #doc
      #hdw
        #hd
          = render "layouts/header"

      #bdw
        #bd.cf
          = render "layouts/flash_messages"
          = yield

      #ftw
        #ft
          = render "layouts/footer"

/= debug session
/= debug params

