- provide(:title, t('.title'))
/= render "error_messages"
= devise_error_messages!

#content
  .mainbox.radius-box-shadow
    %h2= t('.title')
    = form_for(resource, :as=>resource_name, :url=>registration_path(resource_name)) do |f|
      .field-group
        = f.label :name, t('.name')
        = f.text_field :name, :class=>"f-text"
        = t('.name_info').html_safe
      .field-group
        = f.label :password, t('.password')
        = f.password_field :password, :class=>"f-text"
        = t('.pass_info').html_safe
      .field-group
        = f.label :password_confirmation, t('.password_confirm')
        = f.password_field :password_confirmation, :class=>"f-text"
        = t('.passconfirm_info').html_safe
      .field-group
        = f.label :email, t('.email')
        = f.email_field :email, :class=>"f-text"
        = t('.email_info').html_safe
      .field-group
        = f.label :mobile, t('.mobile')
        = f.text_field :mobile, :class=>"f-text"
        = t('.mobile_info').html_safe
      .field-group
        = f.submit t('.signup_button'), :class=>"form-button"

